#### aglex config

## AWS credential and region
config:
  ## Profile name for AWS CLI (see: AWS.SharedIniFileCredentials)
  #profile: prod

  ## You can also specify accessKeyId/secretAccessKey
  # accessKeyId: YOUR_AWS_ACCESS_KEY
  # secretAccessKey: YOUR_AWS_SECRET_KEY

  # Region name for AWS (e.g. us-east-1)
  region: ap-northeast-1

## Lambda configuration
lambda:
  Handler: lambda.handler
  Runtime: nodejs4.3
  MemorySize: 128
  Timeout: 60
  FunctionName: backlog-slack
  Description: Backlog to Slack notification
  RoleName: lambda-backlog-slack # Role ARN will generate from RoleName automatically

## API Gateway configuration
apiGateway:
  name: backlog-slack
  description: Backlog to Slack notification

  ## Method template definitions for each httpMethod
  methodDefinitions:
    _DEFAULT_:
      request:
        type: Lambda
      responses:
        200: {}

  ## API resources
  resources:
    /notify:
      - POST
