[
  {
    "ParameterKey": "BacklogAPIKey",
    "ParameterValue": "********"
  },
  {
    "ParameterKey": "BacklogBaseUrl",
    "ParameterValue": "https://********.backlog.jp"
  },
  {
    "ParameterKey": "LambdaS3Bucket",
    "ParameterValue": "bucket"
  },
  {
    "ParameterKey": "LambdaS3Path",
    "ParameterValue": "path/to/lambda.zip"
  },
  {
    "ParameterKey": "SlackAPIToken",
    "ParameterValue": "********"
  }
]
